@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Daði & Gagnamagnið</h1>
    <h3 class="display-3">Think About Things</h3>
    <p>The band that should have won the 2020 Eurovision Song Contest</a>.</p>
</div>

<div>
    <h3 class="display-4">Check out the music video here:</h3>
    <iframe width="1028" height="542" src="https://www.youtube.com/embed/VFZNvj-HfBU" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="animateImg">
    <img class="rounded mx-auto d-block" src="~/lib/images/Think_about_things_-_Daði_Freyri.jpg" alt="Daði Sweatshirt" />
</div>


<footer>
    <p class="imgSrc">Image Source: <a href="//en.wikipedia.org/wiki/File:Think_about_things_-_Da%C3%B0i_Freyri.jpg" 
          title="Fair use of copyrighted material in the context of Think About Things">Fair use</a>, <a href="https://en.wikipedia.org/w/index.php?curid=63831782">Link</a></p>
</footer>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
